<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_house_mapping.company %>
</p>

<p>
  <strong>House:</strong>
  <%= @company_house_mapping.house %>
</p>

<%= link_to 'Edit', edit_company_house_mapping_path(@company_house_mapping) %> |
<%= link_to 'Back', company_house_mappings_path %>
