<p id="notice"><%= notice %></p>

<h1>House Realtors</h1>

<table>
  <thead>
    <tr>
      <th>House</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @house_realtors.each do |house_realtor| %>
      <tr>
        <td><%= house_realtor.house %></td>
        <td><%= house_realtor.user %></td>
        <td><%= link_to 'Show', house_realtor %></td>
        <td><%= link_to 'Edit', edit_house_realtor_path(house_realtor) %></td>
        <td><%= link_to 'Destroy', house_realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House Realtor', new_house_realtor_path %>
