<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Address</th>
    <th>Founded</th>
    <th>Synopsis</th>
    <th>Revenue</th>
    <th>Size</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.website %></td>
      <td><%= company.address %></td>
      <td><%= company.founded %></td>
      <td><%= company.synopsis %></td>
      <td><%= company.revenue %></td>
      <td><%= company.size %></td>
      <td><%= link_to 'Show', company %></td>
      <% if User.find(session[:id]).role_type == "admin" || UserCompanyMapping.find_by_company_id(company.id).user_id == session[:id] %>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
      <% end %>
      <% if User.find(session[:id]).role_type == "admin" || UserCompanyMapping.find_by_company_id(company.id).user_id == session[:id] %>
        <td><%= link_to 'Destroy', company, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if User.find(session[:id]).role_type == "admin" || User.find(session[:id]).role_type == "realtor" %>
  <%= link_to 'New Company', new_company_path %>
<% end %>
