<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_company_mapping.user %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user_company_mapping.company %>
</p>

<%= link_to 'Edit', edit_user_company_mapping_path(@user_company_mapping) %> |
<%= link_to 'Back', user_company_mappings_path %>
