<p id="notice"><%= notice %></p>

<h1>House Interest Lists</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>House</th>
    <th>Company</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @house_interest_lists.each do |house_interest_list| %>
    <tr>
      <td><%= User.find(house_interest_list.user_id).user_name %></td>
      <td><%= House.find(house_interest_list.house_id).location %></td>
      <td><%= Company.find(house_interest_list.company_id).name %></td>
      <td><%= link_to 'Show', house_interest_list %></td>
      <td><%= link_to 'Edit', edit_house_interest_list_path(house_interest_list) %></td>
      <td><%= link_to 'Destroy', house_interest_list, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if User.find(session[:id]).role_type == "admin" || User.find(session[:id]).role_type == "buyer" %>

  <%= link_to 'ADD House to Interest List', new_house_interest_list_path %>

<% end %>
<br>
<% if User.find(session[:id]).role_type == "admin" || User.find(session[:id]).role_type == "realtor" %>
  <%= link_to 'View all inquiries', inquiries_path %>
<% end %>
