<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
  <tr>
    <th>Company</th>
    <th>Location</th>
    <th>Square footage</th>
    <th>Year built</th>
    <th>Style</th>
    <th>Price list</th>

    <th>Number of floors</th>
    <th>Basement</th>
    <th>Current owner</th>
    <th>Contact info realtor</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @houses.each do |house| %>
    <tr>
      <td><%= Company.find(house.company_id).name %></td>
      <td><%= house.location %></td>
      <td><%= house.square_footage %></td>
      <td><%= house.year_built %></td>
      <td><%= house.style %></td>
      <td><%= house.price_list %></td>
      <td><%= house.number_of_floors %></td>
      <td><%= house.basement %></td>
      <td><%= house.current_owner %></td>
      <td><%= house.contact_info_realtor %></td>
      <td><%= link_to 'Show', house %></td>

      <% if User.find(session[:id]).role_type == "admin" || User.find(session[:id]).role_type == "buyer" || house.user_id == session[:id] %>
        <td><%= link_to 'Inquire House', inquiries_path(house) %></td>
      <% end %>

      <% if User.find(session[:id]).role_type == "admin" || house.user_id == session[:id] %>

        <td><%= link_to 'Edit', edit_house_path(house) %></td>
      <% end %>
      <% if User.find(session[:id]).role_type == "admin" || User.find(session[:id]).role_type == "buyer" || house.user_id == session[:id] %>
        <p> <%= link_to 'Inquire House', inquiries_path %> </p>
      <% end %>
      <% if User.find(session[:id]).role_type == "admin" || house.user_id == session[:id] %>
        <td><%= link_to 'Destroy', house, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if User.find(session[:id]).role_type == "admin" || User.find(session[:id]).role_type == "realtor" %>
  <%= link_to 'New House', new_house_path %>
<% end %>
