<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inquiry.user %>
</p>

<p>
  <strong>Company:</strong>
  <%= @inquiry.company %>
</p>

<p>
  <strong>House:</strong>
  <%= @inquiry.house %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inquiry.message %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
