<%= form_with(model: inquiry_reply, local: true) do |form| %>
  <% if inquiry_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry_reply.errors.count, "error") %> prohibited this inquiry_reply from being saved:</h2>

      <ul>
      <% inquiry_reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :house_id %>
    <%= form.text_field :house_id %>
  </div>

  <div class="field">
    <%= form.label :inquiry_id %>
    <%= form.text_field :inquiry_id %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
