<p id="notice"><%= notice %></p>

<h1>Inquiry Replies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>House</th>
      <th>Inquiry</th>
      <th>Message</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiry_replies.each do |inquiry_reply| %>
      <tr>
        <td><%= inquiry_reply.user %></td>
        <td><%= inquiry_reply.house %></td>
        <td><%= inquiry_reply.inquiry %></td>
        <td><%= inquiry_reply.message %></td>
        <td><%= inquiry_reply.company %></td>
        <td><%= link_to 'Show', inquiry_reply %></td>
        <td><%= link_to 'Edit', edit_inquiry_reply_path(inquiry_reply) %></td>
        <td><%= link_to 'Destroy', inquiry_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry Reply', new_inquiry_reply_path %>
