<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<br><br>
<%= link_to "List all companies", companies_url %> <%= link_to "List all houses", houses_url %>
